.container {
  display: flex;
  flex-direction: row;
  width: 100vw; /* Make sure the container is full width */
  height: 100vh;
  align-items: center; /* Centers children vertically */
  margin: 0; /* Reset any default margins */
  padding: 0; /* Reset any default padding */
}

   
.card {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  max-width: 50vw;
  height: 100vh; /* Adjust if necessary */
  background-color: #F6FFFF;
}

  
  .button-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw; /* Half of the viewport width */
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center; /* Center button vertically */
    justify-content: center; /* Center button horizontally */
    padding-right: 0%; /* Adjust as needed for offset from the right */
  }
   
  .button {
    cursor: pointer;
    width: 352px;
    height: 56px;
    padding: 0 8px;
    border: none;
    border-radius: 12px;
    background-color: #030303;
    color: #ffffff;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 20px;
    outline: none;
  }
  
  .landing-image {
    max-width: 75%; /* Adjust this percentage to scale the size of the image down */
    height: auto; /* Maintains the aspect ratio */
    align-self: center; /* Align the image to the bottom of its flex container */
  }

  
  
/* Add the rest of your styles here */

.logo {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px; /* Adjust the margin as needed */
  margin-top: 20px; /* Adjust the margin as needed */
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold; /* Optional: if you want the logo to be bold */
  color: #333; /* Adjust the color as needed */
  font-family: "Arial", sans-serif; /* Choose a font that suits your branding */
}


  
