/* ReportRender.css */
.report-container {
/*background-color: #f2f2f2;*/
    text-align: center;
    padding: 20vw;
}

.report-card {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.nameTag{

    text-align: left;
    position: relative;
    

}
